<% if @current_user %>
  <h1>Bienvenue <%= @current_user.name %> !</h1>
  <br/>
  <a href="/users/delogin">Se déconnecter</a>


<% else %>
  <h1>Bienvenue visiteur anonyme !</h1>
  <a href="/users/login">S'identifier</a>
<% end %>